:root {
    --primary-color: green;
    --secondary-color: #464646;
    --container-color: radial-gradient(#5c5c5c, #2b2b2b);
    --text-color: white;
  }
  
  .white-mode {
    --primary-color: green;
    --secondary-color: #dddcdc;
    --container-color: radial-gradient(#ececec, #c9c9c9);
    --text-color: black;
  }