:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 0, 0);  
    --nav-color: linear-gradient(-45deg,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.6));
    --text-color: rgb(0, 0, 0);
    --text-color-secondary: rgb(255, 255, 255);
    --text-shadow: rgba(0, 0, 0, 0);
    --button-color: rgba(0, 0, 0, 0.055);
    --switch-color: rgba(255, 255, 255, 0.452);
  }
  
  .darkmode-mode {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(221, 220, 220);
    --nav-color: linear-gradient(-45deg,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.6));
    --text-color: rgb(255, 255, 255);
    --text-color-secondary: rgb(0, 0, 0);
    --text-shadow: rgba(0, 0, 0, 0.322);
    --button-color: rgba(0, 0, 0, 0.199);
    --switch-color: rgba(0, 0, 0, 0.452);
  }