*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.container{
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 100px auto 100px;
    grid-template-areas: "logo header header"
                         "main main aside "
                         "footer footer footer";
    gap: 10px;

    height: 100vh;
    background-color: rgba(136, 136, 255, 0.541);
}

.grid-element{
    min-width: 80px;
    font-size: 1.3em;
    background-color: rgb(136, 136, 255);
    padding: 10px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .15);
}

.grid-element:first-of-type{
    grid-area: footer;
}

.grid-element:nth-of-type(2){
    grid-area: main;
}

.grid-element:nth-of-type(3){
    grid-area: aside;
}

.grid-element:nth-of-type(4){
    grid-area: header;
} 

.grid-element:nth-of-type(5){
    grid-area: logo;
} 

.grid-main{
    display: grid;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(14, 1fr);
}

.exit{
    text-decoration: none;
    color: initial;
    grid-area: 1/1/1/3;
    justify-self: end;
    align-self: end;
    transition: 0.2s ease-in;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.exit:hover{
    border: 1px solid white;
    padding: 4px 5px;
    color: white;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.322);
    transition: 0.2s ease-in;
}