*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    overflow-x: hidden;
}


.container{
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 100px auto 100px;
    grid-template-areas: "logo header header"
                         "main main aside "
                         "footer footer footer";
    gap: 10px;

    height: fit-content;
    background-color: rgba(136, 136, 255, 0.541);
}

.grid-element{
    background-color: rgb(136, 136, 255);
    padding: 10px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .15);
}

.grid-element:first-of-type{
    grid-area: footer;
}

.grid-element:nth-of-type(2){
    grid-area: main;
}

.grid-element:nth-of-type(3){
    grid-area: aside;
}

.grid-element:nth-of-type(4){
    grid-area: header;
} 

.grid-element:nth-of-type(5){
    grid-area: logo;
} 

.grid-main{
    display: grid;
    grid-template-rows: repeat(10, 100px);
    grid-template-columns: repeat(14, 1fr);
}

.exit{
    text-decoration: none;
    color: initial;
    grid-area: 1/1/1/3;
    justify-self: end;
    align-self: end;
    transition: 0.2s ease-in;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.exit:hover{
    border: 1px solid white;
    padding: 4px 5px;
    color: white;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.322);
    transition: 0.2s ease-in;
}

.grid-aside{
    display: grid;
    grid-template-rows: repeat(20, 50px);
    grid-template-columns: repeat(2, 1fr);
}

.grid-aside-element{
    background-color: rgb(144, 255, 69);
    padding: 10px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.295);
} 

.note-date{
    display: flex;
    justify-content: center;
    font-size: small;
    font-weight: 700;
}

.note-desc{
    margin-top: 10px;
    font-size: x-small;
}

.hide{
    opacity: 0;
    transition: 0.2s ease-in;
}

.grid-aside .grid-aside-element:nth-of-type(1){
    grid-area: 2/1/4/3;
    z-index: 8;
} 

.grid-aside .grid-aside-element:nth-of-type(2){
    grid-area: 3/1/5/3;
    z-index: 7;
} 

.grid-aside .grid-aside-element:nth-of-type(3){
    grid-area: 4/1/6/3;
    z-index: 6;
} 

.grid-aside .grid-aside-element:nth-of-type(4){
    grid-area: 5/1/7/3;
    z-index: 5;
} 

.grid-aside .grid-aside-element:nth-of-type(5){
    grid-area: 6/1/8/3;
    z-index: 4;
} 

.grid-aside .grid-aside-element:nth-of-type(6){
    grid-area: 7/1/9/3;
    z-index: 3;
} 

.grid-aside .grid-aside-element:nth-of-type(7){
    grid-area: 8/1/10/3;
    z-index: 2;
} 

.grid-aside .grid-aside-element:nth-of-type(8){
    grid-area: 9/1/11/3;
    z-index: 1;
} 

.grid-aside .grid-aside-element:nth-of-type(1),
.grid-aside .grid-aside-element:nth-of-type(2),
.grid-aside .grid-aside-element:nth-of-type(3),
.grid-aside .grid-aside-element:nth-of-type(4),
.grid-aside .grid-aside-element:nth-of-type(5),
.grid-aside .grid-aside-element:nth-of-type(6),
.grid-aside .grid-aside-element:nth-of-type(7),
.grid-aside .grid-aside-element:nth-of-type(8){
    transition: 0.2s ease-in;
} 

.grid-aside .grid-aside-element:nth-of-type(1):hover,
.grid-aside .grid-aside-element:nth-of-type(2):hover,
.grid-aside .grid-aside-element:nth-of-type(3):hover,
.grid-aside .grid-aside-element:nth-of-type(4):hover,
.grid-aside .grid-aside-element:nth-of-type(5):hover,
.grid-aside .grid-aside-element:nth-of-type(6):hover,
.grid-aside .grid-aside-element:nth-of-type(7):hover,
.grid-aside .grid-aside-element:nth-of-type(8):hover{
    z-index: 99;
    cursor: pointer;
    transform: scale(110%);
    transition: 0.2s ease-in;
} 

.grid-aside .grid-aside-element:nth-of-type(1):hover .hide,
.grid-aside .grid-aside-element:nth-of-type(2):hover .hide,
.grid-aside .grid-aside-element:nth-of-type(3):hover .hide,
.grid-aside .grid-aside-element:nth-of-type(4):hover .hide,
.grid-aside .grid-aside-element:nth-of-type(5):hover .hide,
.grid-aside .grid-aside-element:nth-of-type(6):hover .hide,
.grid-aside .grid-aside-element:nth-of-type(7):hover .hide,
.grid-aside .grid-aside-element:nth-of-type(8):hover .hide{
    opacity: 1;
    transition: 0.2s ease-in;
} 