:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(0, 0, 0);  
  --nav-color: linear-gradient(-45deg,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.6));
  --text-color: rgb(0, 0, 0);
  --text-color-secondary: rgb(255, 255, 255);
  --text-shadow: rgba(0, 0, 0, 0);
  --button-color: rgba(0, 0, 0, 0.055);
  --switch-color: rgba(255, 255, 255, 0.452);
}

.darkmode-mode {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(221, 220, 220);
  --nav-color: linear-gradient(-45deg,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.6));
  --text-color: rgb(255, 255, 255);
  --text-color-secondary: rgb(0, 0, 0);
  --text-shadow: rgba(0, 0, 0, 0.322);
  --button-color: rgba(0, 0, 0, 0.199);
  --switch-color: rgba(0, 0, 0, 0.452);
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  font-size: 0.85em;
}

body{
  background-image: url("paper.gif");
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* ------------------------------------------------- Navbar ------------------------------------------------- */
nav {
  z-index: 50;
  width: 30px;
  height: 100vh;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  position: fixed;
  overflow-y: hidden;
  box-shadow: 4px 0 16px 0 rgba(0,0,0,.16);
  background: transparent var(--nav-color);
  backdrop-filter: blur(28px) saturate(67%);
  transition: 0.5s ease-in-out;
}

nav:hover {
  width: 200px;
  transition: 0.5s ease-in-out;
  transition-delay: 0.2s;
}

.nav-button {
  display: none;
  cursor: pointer;
}

/*? ------------------------------ Logo ------------------------------ */
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  font-size: 2em;
  text-shadow: 2px 3px 2px var(--text-shadow);
}

.logo i{
  color: var(--text-color);
}

/*? ------------------------------ Links ------------------------------ */
.link > a > i {
  font-size: 1.7em;
  color: var(--text-color);
  transition: 0.2s ease-in-out;
}

nav:hover .link > a > i {
  transform: scale(90%);
  transition: 0.2s ease-in-out;
  transition-delay: 0.2s;
}

.link {
display: flex;
align-items: center;
margin-bottom: 15px;
text-shadow: 2px 3px 2px var(--text-shadow);
}

.link > a:first-child {
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-titel {
  position: relative;
  display: flex;
  align-items: center;
  color: initial;
  font-weight: bold;
}

nav .link-titel div {
  position: absolute;
  width: 200px;
  margin-left: 10px;
  opacity: 0;
  color: var(--text-color);
  transition: 0.4s ease-in-out;
}

nav:hover .link-titel div {
  opacity: 1;
  transition: 0.4s ease-in-out;
  transition-delay: 0.2s;
}

/*? ------------------------------ Soziale Medien ------------------------------ */
.social-links{
  text-shadow: 2px 3px 2px var(--text-shadow);
  width: 100%;
  font-size: 1.7em;
  position: absolute;
  bottom: 90px;
  left: 0;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.social-links a:not(:last-of-type){
  margin-right: 10px;
}

nav:hover .social-links{
  opacity: 1;
  transition: 0.4s ease-in-out;
  transition-delay: 0.2s;
}

.social-links i{
  color: var(--text-color);
}

/* ------------------------------------------------- Darkmode ------------------------------------------------- */
.background-switch-darkmode {
  z-index: 51;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  padding: 5px;
  background-color: var(--switch-color);
  backdrop-filter: blur(28px) saturate(67%);
  border-radius: 50%;
  box-shadow: 0 4px 16px rgba(0,0,0,.15);
  position: absolute;
  bottom: 8px;
  left: 8px;
  transition: 0.1s ease-in-out;
}

.background-switch-darkmode:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.397);
  transition: 0.1s ease-in-out;
}

.switch-darkmode{
  border-radius: 25px;
  width: 100%;
  height: fit-content;
  border: 2px solid var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, 
              rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 2px;
  transition: 0.1s ease-in-out;
}

.switch-circle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  min-width: 10px;
  height: 10px;
  min-height: 10px;
  padding: 3px;
  border-radius: 50%;
  color: var(--text-color-secondary);
  background-color: var(--secondary-color);
  text-shadow: 2px 3px 2px var(--text-shadow);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, 
              rgba(0, 0, 0, 0.24) 0px 1px 2px;
  font-size: 12px;
}

/* ------------------------------------------------- Fontawesome ------------------------------------------------- */



/* ------------------------------------------------- Extra ------------------------------------------------- */
.flex-center-vertical-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slide-to-right-click {
  0%   {transform: translateX(0%);}
  100% {transform: translateX(100%);}
}

@keyframes slide-to-left-click {
  0%   {transform: translateX(100%);}
  100% {transform: translateX(0%);}
}

@keyframes rainbow {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

  /*TODO animation: name 2s infinite;;

/* ------------------------------------------------- Responsive ------------------------------------------------- */
@media only screen and (max-width: 1050px)
{
    /* 1. BreakPoint: */

    /*? ----------------------------------------- Navbar ----------------------------------------- */
    nav {
        overflow-y: visible;
        display: flex;
        align-items: center;
        height: fit-content;
        width: 100vw;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
        box-shadow: none;
        background: none;
        backdrop-filter: none;
    }

    nav:hover {
      width: 100%;
      transition-delay: 0.2s;
    }

    .small-navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
    }

    /** -------------------------- Logo -------------------------- */
    .logo {
      margin-bottom: 0px;
    }

     /** -------------------------- Button -------------------------- */
    .nav-button {
      padding: 3px;
      height: 22px;
      min-height: 22px;
      width: 22px;
      min-width: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 40px;
      font-size: 1.5em;
      color: var(--text-color);
      text-shadow: 2px 3px 2px var(--text-shadow);
      background-color: var(--button-color);
      border-radius: 7px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      transition: 0.2s ease-in-out;
    }
    
    /** -------------------------- Resposive Link -------------------------- */
    .link-background {
      z-index: -1;
      width: 100vw;
      height: 100vh;
      position: absolute;
      left: 0;
      top: -100vh;
      background: transparent var(--nav-color);;
      backdrop-filter: blur(28px) saturate(67%);
      transition: 0.5s ease-in-out;
    }

    .link-wrapper{
      height: 100%;
      width: 100%;
      margin-left: 5px;
      position: absolute;
      top: 100px;
      left: 25px;
      opacity: 1;
    }

    .nav-bg{
      z-index: 20;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 0px;
      padding-left: 30px;
      display: flex;
      height: fit-content;
      align-items: center;
      overflow-y: visible;
      background: transparent var(--nav-color);;
      backdrop-filter: blur(28px) saturate(67%);
      box-shadow: 4px 0 16px 0 rgba(0,0,0,.16);
    }

    nav:hover .link > a > i {
      transform: none;
    }

    nav .link-titel div {
      opacity: 1;
    }

    .social-links{
      opacity: 1;
      top: 80%;
    }
  }




  @media only screen and (max-width: 500px)
{
    /* 2. BreakPoint: */

    /*? ----------------------------------------- Navbar ----------------------------------------- */
    nav {
        overflow-y: visible;
        display: flex;
        align-items: center;
        height: fit-content;
        width: 100vw;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
        box-shadow: none;
        background: none;
        backdrop-filter: none;
    }

    nav:hover {
      width: 100%;
      transition-delay: 0.2s;
    }

    .small-navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
    }

    /** -------------------------- Logo -------------------------- */
    .logo {
      margin-bottom: 0px;
    }

     /** -------------------------- Button -------------------------- */
    .nav-button {
      padding: 3px;
      height: 22px;
      min-height: 22px;
      width: 22px;
      min-width: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 40px;
      font-size: 1.5em;
      color: var(--text-color);
      text-shadow: 2px 3px 2px var(--text-shadow);
      background-color: var(--button-color);
      border-radius: 7px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      transition: 0.2s ease-in-out;
    }
    
    /** -------------------------- Resposive Link -------------------------- */
    .link-background {
      z-index: -1;
      width: 100vw;
      height: 100vh;
      position: absolute;
      left: 0;
      top: -100vh;
      background: transparent var(--nav-color);;
      backdrop-filter: blur(28px) saturate(67%);
      transition: 0.5s ease-in-out;
    }

    .link-wrapper{
      height: 100%;
      width: 100%;
      margin-left: 0;
      padding-left: 30px;
      position: absolute;
      top: 100px;
      left: 0;
      opacity: 1;
    }

    .nav-bg{
      z-index: 20;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 0px;
      padding-left: 0px;
      display: flex;
      height: fit-content;
      align-items: center;
      overflow-y: visible;
      background: transparent var(--nav-color);;
      backdrop-filter: blur(28px) saturate(67%);
      box-shadow: 4px 0 16px 0 rgba(0,0,0,.16);
    }


    nav:hover .link > a > i {
      transform: none;
    }

    nav .link-titel div {
      opacity: 1;
    }

    .social-links{
      opacity: 1;
      top: 60%;
    }
  }