*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

html
{
    color: rgb(77, 81, 79);
    font-size: 0.85em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgb(242, 242, 242);
}

body
{
    display: flex;
    justify-content: center;
}

.tel
{
    color: inherit;
}

/* ---------------------------------------------- TableHead ---------------------------------------------- */
table
{
    width: 80vw;
    min-width: 500px;
    max-width: 1500px;
    border-collapse: initial;
}

.containerTable
{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 470px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .15);
}

.bigContainer
{
    margin-top: 100px;
    margin-bottom: 100px;
}

.icon-column
{
    width: 40px;
}

/* -------------------------- TableHead ------------------------------ */
thead
{
    position: relative;
}

thead th
{
    position: sticky;
    top: 0;
    z-index: 1;
    line-height: 1;
    border-bottom: 3px solid rgb(87, 166, 50);
    padding-bottom: 3px;
}

th
{
    text-align: left;
    background: rgb(255, 255, 255);
    color: rgb(87, 166, 50);
}

/* -------------------------- TableBody ------------------------------ */
tbody
{
    background: rgb(255, 255, 255);
}

td:first-child
{
    padding: 15px 0;
    border-bottom: 0;
}

td
{
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

/* ---------------------------------------------- Fontawesome ---------------------------------------------- */
th .fa-magnifying-glass
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-magnifying-glass
{
    color: white;
    background: rgb(87, 166, 50);
    height: 30px;
    width: 30px;
    font-size: 18px;
}